.background{
  background-image: url("../../img/landing\ page.png") ;
  background-size: cover;
  min-height: 100vh;
  background-position: center center;
  
 
  
  
}
.text{
  color: rgb(208, 212, 216);
  text-align: left;
  display: inline-block;
  position: relative;
  top: 400px;
  left: -25%;
  width: 500px;
  height: 300px;
  margin: 2%;
  
  
}
.btn{
  border-radius: 3px;
  color: aliceblue;
  font-size: 20px;
  font-weight: bold;
  border: solid 1px;
  background-color: rgba(68, 68, 70, 0.335);
  position: relative;
  top:500px;
  left: -45%;
  width: 150px;
  height: 50px;
}
.btn:hover{
  background-color: rgb(155, 160, 160);
  color: rgb(26, 27, 27);
}
@media screen and (min-width: 480px) and (max-width: 780px){
  .background{
    background-size:cover;
    background-position: center center;
    min-height: 150vh;
  }
  .text{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60%;
    height: 50%;
    border: solid 1px red;

  }
  .btn{
    border: solid 1px yellow;
   
  }
}
@media screen and (max-width: 480px){
  .background{
    min-height: 100vh;
    min-width: 100vw;
    background-attachment: fixed;
    background-position: -320px center;
    justify-content: center;
    align-items: center;



}
.text{
  position: relative;
  font-size: 20px;
  top: 290px;
  left: 5%;
  height: auto;
  width: 300px;
  justify-content: center;
  align-items: center;

}
.btn{
  justify-content: center;
  position: relative;
  top: 350px;
  left: auto;
}
}
